DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?sslmode=require"
NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"
UPSTASH_REDIS_REST_URL="https://YOUR-UPSTASH.upstash.io"
UPSTASH_REDIS_REST_TOKEN="YOUR_UPSTASH_REDIS_REST_TOKEN"
CLOUDINARY_CLOUD_NAME="YOUR_CLOUD_NAME"
CLOUDINARY_API_KEY="YOUR_CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="YOUR_CLOUDINARY_API_SECRET"
CLOUDINARY_URL="cloudinary://YOUR_CLOUDINARY_API_KEY:YOUR_CLOUDINARY_API_SECRET@YOUR_CLOUD_NAME"
